
@{
    ViewBag.Title = "Fabrication";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="WorkOrder">
    <div>
        <h3 class="text-secondary">Fabrication</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                @foreach (var i in @ViewBag.List as IEnumerable<MyApp.Models.ProductionModel>)
                {
                    <div class="col-lg-2">
                        <div class="card randomColor" title="Produced" data-toggle="tooltip" data-placement="bottom" style="cursor:pointer">
                            <div class="card-body p-3" onclick="ShowEntry('@i.WorkOrderNo');">
                                <div class="text-center">
                                    <h5 class="text-white">@i.WorkOrderNo</h5>
                                    <h3 class="text-white">@i.Count</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="Entry" style="display:none;">
    <div class="d-flex justify-content-between">
        <h3 class="text-secondary">Fabrication Production</h3>
        <button class="btn btn-primary" title="Back" data-toggle="tooltip" data-placement="bottom" onclick="ShowWorkOrder()"><i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label">Work Order No</label>
                        <div class="row gutters-xs">
                            <div class="col">
                                <input type="text" class="form-control" id="WorkOrderNo" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblProduction">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Item Name</th>
                                    <th>Actual Qty</th>
                                    <th>Balanced Qty</th>
                                    <th>Fabrication Qty</th>
                                    <th>Produced Qty</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-3 col-sm-12">
                    <button class="btn btn-success" title="Save" data-toggle="tooltip" data-placement="bottom" onclick="Save()"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Production = [];

    function ShowEntry(WorkOrderNo) {
        $("#WorkOrder").hide();
        $("#Entry").show();
        $("#WorkOrderNo").val(WorkOrderNo);
        LoadProduction(WorkOrderNo);
    }

    function ShowWorkOrder() {
        $("#Entry").hide();
        $("#WorkOrder").show();
    }

    function LoadProduction(WorkOrderNo) {
        var data = { "WorkOrderNo": WorkOrderNo };
        data = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            url: '/Production/LoadFabricationProduction',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                Production = response;
                $('#tblProduction').DataTable({
                    destroy: true,
                    lengthChange: false,
                    bPaginate: false,
                    bInfo: false,
                    paging: false,
                    order: [],
                    searching: false,
                    aaData: response,
                    columns: [
                        { "data": "SrNo" },
                        { "data": "ItemName" },
                        {
                            "data": "ActualQty",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<div><input type="text" class="form-control number" id="ActualQty' + row.SrNo + '" value="' + row.ActualQty + '" readonly /></div>'
                                }
                                return data;
                            }
                        },
                        {
                            "data": "BalancedQty",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<div><input type="text" class="form-control number" id="BalancedQty' + row.SrNo + '" value="' + row.BalancedQty + '" readonly /></div>'
                                }
                                return data;
                            }
                        },
                        {
                            "data": "ProducedQty",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<div><input type="text" class="form-control number" id="FabricationQty' + row.SrNo + '" onchange="CalculateQty(' + row.SrNo + ')" /></div>'
                                }
                                return data;
                            }
                        }, {
                            "data": "ProducedQty",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<div><input type="text" class="form-control number" id="ProducedQty' + row.SrNo + '" value="' + row.ProducedQty + '" readonly /></div>'
                                }
                                return data;
                            }
                        }
                    ]
                });
                $(".number").on('input', function () {
                    $(this).val($(this).val().replace(/[^0-9.]/g, ''));
                });
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    }

    function CalculateQty(SrNo) {
        for (i = 0; i < Production.length; i++) {
            if (Production[i].SrNo == SrNo) {
                var BalancedQty = $("#BalancedQty" + SrNo).val();
                var FabricationQty = $("#FabricationQty" + SrNo).val();
                var ProducedQty = $("#ProducedQty" + SrNo).val();

                BalancedQty = parseInt(BalancedQty);
                FabricationQty = parseInt(FabricationQty);
                ProducedQty = parseInt(ProducedQty);

                if (FabricationQty > Production[i].ActualBalancedQty) {
                    BalancedQty = parseInt(Production[i].ActualBalancedQty);
                    ProducedQty = parseInt(Production[i].ActualProducedQty);

                    $("#BalancedQty" + SrNo).val(BalancedQty);
                    $("#ProducedQty" + SrNo).val(ProducedQty);
                    $("#FabricationQty" + SrNo).val(0);

                    Production[i].BalancedQty = BalancedQty;
                    Production[i].ProducedQty = ProducedQty;
                }
                else {
                    BalancedQty = parseInt(Production[i].ActualBalancedQty) - FabricationQty;
                    ProducedQty = parseInt(Production[i].ActualProducedQty) + FabricationQty;

                    $("#BalancedQty" + SrNo).val(BalancedQty);
                    $("#ProducedQty" + SrNo).val(ProducedQty);

                    Production[i].BalancedQty = BalancedQty;
                    Production[i].ProducedQty = ProducedQty;
                }
            }
        }
    }

    function Save() {
        var WorkOrderNo = $("#WorkOrderNo").val();
        var data = { "WorkOrderNo": WorkOrderNo, "Production": Production };
        data = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            url: '/Production/SaveFabrication',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Status != 0) {
                    Swal.fire({
                        title: 'Success',
                        text: response.Message,
                        icon: 'success'
                    }).then((result) => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: response.Message,
                        icon: 'error'
                    });
                }
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    }
</script>