
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="Summary">
    <div>
        <h3 class="text-secondary">User Summary</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-responsive" id="tblSummary"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Load();
    });

    function Load() {
        $.ajax({
            type: 'POST',
            url: '/Master/LoadSettings',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == "0" || response == "[]") {
                    $("#tblSummary").empty();
                    return;
                }
                $("#tblSummary").empty();
                Table($("#tblSummary"), response, "Summary", "Summary");
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    }
</script>